{% extends 'base.html' %}

{% block title %}
	Home Page - Nearby shops
{% endblock title %}

{% block content %}
    
    <div class="container">
    	
    	<div class="row mt-1">
    		
    		<div class="col-xs-12 col-md-6 mt-4">
    			<div class="card">
    				<div class="card-body">
    					<h3>Inventory</h3>
    					<table class="table" width="100">
    						<thead>
    							<tr>
	    							<th>Item</th>
	    							<th>Category</th>
	    							<th>Quantity</th>
	    						</tr>
    						</thead>
    						<tbody>
	    						{% for item in items %}
	    							<tr>
		    							<td>{{item.name}}</td>
		    							<td>{{item.category}}</td>
		    							<td>{{item.quantity}}</td>
		    						</tr>
	    						{% endfor %}
    						</tbody>
    					</table>
    				</div>
    			</div>
    		</div>

    		<div class="col-xs-12 col-md-6 mt-4">
    			<div class="card">
    				<div class="card-body">
	    				<h3>Transactions</h3>
	    				<table class="table" width="100">
    						<thead>
    							<tr>
	    							<th>Item</th>
	    							<th>Quantity</th>
	    							<th>Client</th>
	    							<th>Time</th>
	    							<th>Type</th>
	    						</tr>
    						</thead>
    						<tbody>

    							{% for transaction in transactions %}
	    							<tr>
		    							<td>item x</td>
		    							<td>125</td>
		    							<td>Client x</td>
		    							<td>march, 12th 2019 11:22am</td>
		    							<td>return</td>
		    						</tr>
    							{% endfor %}
	    						
    						</tbody>
    					</table>
	    			</div>
    			</div>
    		</div>

    	</div>
		    
    </div> <!-- end container -->

{% endblock content %}

{% block additional_js %}
	
{% endblock additional_js %}
